[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog
[submodule "external/cppformat"]
	path = external/cppformat
	url = https://github.com/cppformat/cppformat
[submodule "external/isl-cpp"]
	path = external/isl
	url = https://github.com/simbuerg/isl-cpp
[submodule "external/catch"]
	path = external/catch
	url = https://github.com/philsquared/Catch
