[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog
[submodule "external/cppformat"]
	path = external/cppformat
	url = https://github.com/cppformat/cppformat
